

%test{

    border: 1px solid red;

}

%align-vertical{

    // http://www.oxxostudio.tw/articles/201502/css-vertical-align-7methods.html
    top:50%;
    position: relative;
    transform: translateY(-50%);

}

%align-center{
    
    overflow: auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
    float: none;

}

%btn-large{

    width: 178px;
    height: 62px;

}

$h1Size:3.6rem;
$h2Size:3.0rem;
$h3Size:2.4rem;
$h4Size:1.5rem;

// h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;  }
// h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem;  }
h1 { font-size: $h1Size; line-height: 1.3;  letter-spacing: -.1rem;  }
h2 { font-size: $h2Size; line-height: 1.35; letter-spacing: -.08rem; }
h3 { font-size: $h3Size; line-height: 1.5;  letter-spacing: -.05rem; }
h4 { font-size: $h4Size; line-height: 1.6;  letter-spacing: 0;       }



$font-color-active: black;

a{
    &:hover,
    &:link,
    &:visited,
    &:active{
        text-decoration: none;
    }
}


