body {
    display: flex;
    flex-flow: column nowrap;
    padding: 1em;
}

.centerDiv {
    @include test-border;
    @include test-bg;
    min-height: 250px;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.fittingDiv {
    flex: 1;
}

.top {
    align-self: flex-start;
}

.bottom {
    align-self: flex-end;
}

.obj {
    @include test-border;
    @include test-bg;
    text-align: center;
}