@media (#{$bp-larger-than-phablet}) {
//   h1 { font-size: 5.0rem; }
//   h2 { font-size: 4.2rem; }
  h1 { font-size: 3.6rem; }
  h2 { font-size: 3.0rem; }
  h3 { font-size: 2.4rem; }
  h4 { font-size: 1.5rem; }
}

@media ($bp-zero) and ($bp-less-than-phablet){

    .phablet-hide{

        display: none;

    }

    .phablet-align-center-width100{

        overflow: auto;
        display: table;
        margin-left: auto;
        margin-right: auto;
        float: none;

    }

    .phablet-width80{

        width: $container-width-larger-than-mobile;

    }

}
