//@extend %test;
nav{

    max-width: $max-width;//$container-width;
    padding: 0 15px;
    margin: 0 auto;
    height: 75px;

    .logo{
        
        @extend %align-vertical;
        @extend .u-pull-left;
        width: 140px;
        height: 50px;

    }

    ul{

        @extend %align-vertical;
        float: right;    
        li{

            padding: 0 20px;
            display: inline;

            a{
                &.active{
                    font-weight: bolder;
                    color: $font-color-active;
                }
            }
        }
    }

}

.cleanBox{

    height: 500px;
    background-image: url("/images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: auto;

    h1{
        @extend %align-center;
        color:white;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    .content{

        @extend %align-center;

        h3{
            color: white;
            float: left;
        }
        a{
            margin: 0 20px;
            font-size: $h3Size; 
            line-height: 1.5;  
            letter-spacing: -.05rem;
            float: right;
        }

    }

    button{

        @extend %btn-large;
        @extend %align-center;
        color: white;
        
    }

}

.unsubscribe{

    height: 330px;

    .my-container{

        @extend %align-vertical;
        @extend %align-center;
        width: $litter-container;

        .aside{

            @extend .u-pull-left;
            width: $index-aside-width;
            margin-top: 35px;

            h2{

                font-weight: bolder;

            }
            p{

                color: $p-color;
            
            }

        }
        img{

            @extend .u-pull-right;
            margin-left: 60px;

        }

    }

}

.combine{

    height: 515px;
    background-color: #00587f;

    .my-container{

        @extend %align-vertical;
        @extend %align-center;
        width: $litter-container;
        
        img{

            float: left;

        }

        .aside{
                        
            float: right;
            width: $index-aside-width;
            height: 395px;        
            margin-left: 60px;

            div{
             
                @extend %align-vertical;
                h2, p, button{

                    color: white;
                
                }
            
            }

        }

    }

}

$rollup-height: 398px;
.rollup{

    height: $rollup-height;
    background-color: #41c1c8;

    .my-container{

        @extend %align-vertical;
        @extend %align-center;
        width: $litter-container;

        .aside{

            width: $index-aside-width;
            height: $rollup-height;
            float: left;

            div{

                @extend %align-vertical;
                h2, p, button{

                    color: white;

                }
            
            }

        }

        img{

            float: right;
            margin-left: 60px;
            position: absolute;
            right: 0;
            bottom: 0;

        }

    }

}

.unroll{

    height: 400px;

    .my-container{

        @extend %align-vertical;
        @extend %align-center;
        width: $litter-container;

        .img{

            float: left;
            position: absolute;
            left: 0;
            bottom: 0;

        }

        .aside{

            float: right;
            width: $index-aside-width;
            height: 400px;

            div{

                @extend %align-vertical;

                p{

                    color: $p-color;

                }

                img{

                    vertical-align: middle;

                }

                button{

                    position: relative;
                    top: 2px;
                    margin-left: 12px;

                }

            }

        }

    }

}

.happy{

    height: 600px;
    background-color: #F9F9F9;

    .vertial{

        @extend %align-vertical;
        h2{
            
            @extend %align-center;
            padding-bottom: 15px ;
            font-weight: bolder;

        }

        ul.brand{

            @extend %align-center;
            padding: 15px 0;
            margin-bottom: 0;

            li{
                
                padding: 0 20px;
                display: inline;

            }

        }

        .authors{

            @extend .row;
            @extend %align-center;
            max-width: $max-width;
            padding: 60px 15px;
            p{

                font-weight: 400;
                font-size: 2rem;
                line-height: 1.25em;
                color: $p-color;

            }
            .author{

                @extend .four;
                @extend .columns;
                
                img{

                    vertical-align: middle;

                }
                a{

                    display: inline;

                }
                &:before{

                    content: '“';
                    font-size: 8rem;
                    color: #f7931d;
                    line-height: 1em;
                    height: 40px;
                    display: block;
                
                }   

            }
        }
    }
}